<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Document  </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/angular-material.min.css}">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" >
    <link th:href="@{/css/1.css}" rel="stylesheet" />

</head>
<body ng-app="myApp" ng-controller="MyController">


<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Office Management</h1>

        <a type="button" class="btn btn-info col-2" th:href="@{/admin/user/showNewUserForm}">New User</a>
        <a class="btn btn-info col-2" th:href="@{/admin/office/}">Office</a>
        <a class="btn btn-info col-2" th:href="@{/admin/user/}">User</a>
        <a class="btn btn-info col-2" th:href="@{/admin/profile/}">Profile</a>
        <hr>


        <div ng-repeat="product in products" ng-init="product.showw=false">
            <div class="card ksua"  ng-show="product.showw">
                <div class="card-header">
                    <b class="float-xs-right"><i class="fa fa-check">save</i></b>
                    About:  <td th:text="${user.firstName}"></td>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <b class="float-xs-right"><i class="fa fa-pencil" >edit</i></b>
                    About User: <td th:text="${user.firstName}"></td> <td th:text="${user.lastName}"></td>
                </div>
                <div class="card-block">
                    <b>First Name: </b><i><td th:text="${user.firstName}"></td></i> <br>
                    <b>Last Name: </b><i><td th:text="${user.lastName}"></td></i> <br>
                    <b>Address: </b><i><td th:text="${user.address}"></td></i> <br>
                    <b>Phone Number: </b><i><td th:text="${profile.phoneNumber}"></td></i> <br>
                    <b>Gender: </b><i><td th:text="${profile.gender}"></td></i> <br>
                    <b>accountStatus: </b><i><td th:text="${user.accountStatus}"></td></i> <br>

                    <td> <a th:href="@{/admin/user/detail/{id}(id=${user.id})}" class="btn btn-primary">Detail</a>
                    </td>
                    <td> <a th:href="@{/admin/user/delete/{id}(id=${user.id})}" class="btn btn-primary">Delete</a>
                    </td>

                </div>
            </div>

        </div>




    </div>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-1.5.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-animate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-aria.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-material.min.js}"></script>
</body>
</html>